@charset "utf-8";
/********** css responsive init  **********/
.container{width: 1260px;margin: 0 auto;}
body {
    font-family: 'IBM Plex Sans KR', sans-serif;
}

/* header  */
 .mob{display: none;}
.headerWrap{background: #fff;width: 100%;height: 114px;position: relative;z-index:999}
.headerTop{display: flex;align-items: center;height: 100%;justify-content: space-between;}
.headerTop>a{display: flex;justify-content: center;align-items: center;}
/* .navbar_l{margin-right: auto;} */
.headerLeft{display: flex;padding:20px 0 0 0; width: 800px;height: 114px;justify-content: space-between;align-items: center;}
.navbar_l{margin-left: auto;width: 550px;_position: absolute;top: 50px;left: calc( 50% - 10px);margin-right: 50px;}
.navbar_l>ul{display: flex;height: 100%;justify-content: center;align-items: center;}
.navbar_l>ul>li{flex: 1 1 auto;
display: flex;justify-content: center;align-items: center;}
.navbar_l>ul>li .submenu{ background-color: #fff;
    position: absolute;top:105px;width: 200px;padding: 10px 10px 20px 10px;
    border-radius:0 0 8px 8px;transform:translateY(20px);transition: 0.3s;
    opacity:0;visibility: hidden;box-shadow: 0 0 10px rgba(0,0,0,.3);}
.navbar_l>ul>li>a{width: 100%;height: 100%;font-size: 20px;text-align: center; }
/* .submenu{display: none;} */
.submenu{width: 100%;height: 221px;position: absolute;display: block;z-index: 10;
}
.navbar_l>ul>li.on .submenu{transform:translateY(0px);opacity: 1;visibility: visible;}
.submenu>ul>li>a{display: block;line-height: 30px;}
.submenu>ul>li{width: 100%;height: 50px;display: flex;justify-content: center;align-items: center;}





.navbar_r{_position: absolute;top: 50px;right: 247px;display: flex;cursor: pointer;}

.navbar_r .eng,.navbar_r .kor{width: 30px;height: 30px;
    border: 1px solid #31A05F;margin-right: auto;text-align: center;padding: 1px;
}
.navbar_r>div.active{background: #31A05F;color: white;}

.toggle{width: 50px;height: 50px;display: none;
    _justify-content: center;align-items: center;position: relative;
    position: fixed;top: 35px;right: 0px;cursor: pointer;
    
}

.toggle>div:nth-child(1),.toggle>div:nth-child(3){width: 30px;height: 3px;background: #333;position: absolute;
    display: flex;;justify-content: center;align-items: center;
}
.toggle>div:nth-child(2){width: 25px;height: 4px;background: #333;position: absolute;}
.toggle .bar1{transform: translateY(12px);}

.toggle .bar3{transform: translateY(-12px);}

.overlay,.navbarClone{display: none;}




/* mMenu  */
.navbarClone{z-index: 10000;}
.mMenu{width: 100%;height: 100%; padding:  40px 30px;position: relative;}

.mMenu>ul{position: absolute;top: 126px;left: 23px;}

.mMenu>ul>li{width: 150px;height: 60px;display: flex;justify-content: center;align-items: center;}
.mMenu>ul>li>a{
    color: #333333;height: 100%;width: 100%;display: flex;justify-content: center;align-items: center; 
    font-size: 20px;}
.mMenu .submenu>ul>li>a{
    color: #333333;height: 100px;width: 150px; font-size: 14px;
}
.mMenu.submenu>ul{position: absolute;left: -22px;top: -88px;}
    .mMenu li{position: relative;}
    .mMenu .submenu{display: none;width: 100%;height: 100%;}
    .mMenu .submenu{_position: absolute;left: 181px;top: 39px;}
    .mMenu>li .submenu{
        padding: 10px 16px;_position: absolute;
    }

    
    .mMenu>li .submenu a{
        display: block;line-height: 30px;
        text-align: center;
    }

    .mMenu>ul>li>a.view i{
        _transform: rotate(180deg);}
    .mMenu>ul>li>a.view .submenu{position: absolute;
        top: 0;right: 0;}
   

    .mMenu>a{height: 33px;display: flex;position: relative;}
    .mMenu>a:before{content: "";display: block;width: 100rem;height: 1px;background: #D7D5D5;position: absolute;top: 50px;right: 0;}
    .mMenu>a:after{content: "";display: block;width: 100rem;height: 1px;background: #D7D5D5;position: absolute;top: 564px;;right: 0;}
    .mMenu .x-btn{position: absolute;top: 39px;right: 39px;cursor: pointer;}

    .bot_btn01{position: absolute;bottom: 180px;left: 71px;}
    .bot_btn02{position: absolute;bottom: 138px; left: 71px;}
    .bot_btn03{position: absolute;bottom: 53px; right: 71px;}

    .navbar_m{position: absolute;bottom: 50px;left: 71px;;display: flex;cursor: pointer;}

    .navbar_m .eng,.navbar_m .kor{width: 30px;height: 30px;color: #9B9B9B;
    border: 1px solid #9B9B9B;margin-right: auto;text-align: center;padding: 1px;
    

}
.navbar_m span{font-size: 10px;}
    .navbar_m>div.active{background: #9B9B9B;color: white;}

    /* header swiper  */

    .swiper-slide{
        position: relative;display: flex;
        justify-content: center;align-items: center;
    }
    .swiper-slide>img{width: 100%;}
    .txtWrap{
        color: #fff;
        text-align: center;
        position: absolute;

        
    }

    .txtWrap h2{font-size: 120px;
    }
    .txtWrap h3{font-size: 28px; font-weight: 300;}

    .bars div{width: 438px;height: 10px;background: white;position: absolute;}

    .swiper-slide.swiper-slide-active .bar001{
        left: 192px;top: 296px;
        animation: bar001 2s forwards alternate;
    }
    .swiper-slide.swiper-slide-active .bar002{
        left: 1466px;top: 650px;
        animation: bar001 2s forwards alternate;
    }
    .swiper-slide.swiper-slide-active .bar003{
        left: 1311px;top: 768px;
        animation: bar001 2s forwards alternate;
    }

    @keyframes bar001{
        from{width: 0;}
        to{width: 438px;}
    }


    /* section  */

    #section{position: relative;z-index: 9991;height: 100%;width: 1260px;margin: 0 auto;}
    .sectionWrap{ margin-bottom: 180px;margin-top: -157.5px;_width: 1260px;_margin: 0 auto;}
    .sectionWrap>ul{display: flex;;flex-wrap: wrap;position: relative;}
    .sectionWrap>ul>li{position: relative;display: flex;}

    .sectionWrap>ul>li:nth-child(1),
    .sectionWrap>ul>li:nth-child(2),
    .sectionWrap>ul>li:nth-child(8)
    {

        width: 315px;height: 315px;
        background-color: #31A05F;
        flex-grow: 1;flex-basis: 25%;
        display: flex;justify-content: center;align-items: center;
    


    }
    .sectionWrap>ul>li:nth-child(9){width: 315px;height: 315px;background-color: #A5D5B9;position: absolute;right: 630px;top: 945px;
        display: flex;justify-content: center;align-items: center;}
    
    .sectionWrap>ul>li:nth-child(3),
    .sectionWrap>ul>li:nth-child(4),
    .sectionWrap>ul>li:nth-child(5),
  
    .sectionWrap>ul>li:nth-child(7)
   
    {
        width: 630px;height: 315px;
        _background-color: pink;
        flex-grow: 1;flex-basis: 50%;
    }
    .sectionWrap>ul>li:nth-child(6){width: 315px;height: 630px;_background-color: yellow;}
    .sectionWrap>ul>li:nth-child(10){width: 630px;height: 315px; _background-color: red;position: absolute;right: 0px;top: 945px;}
    
    /* sec01  */
    .sectionWrap>ul>li:nth-child(1){flex-direction: column;}
    .sectionWrap>ul>li:nth-child(1)>a>img{margin-bottom: 20px;}
    .sectionWrap>ul>li:nth-child(1)>a>h3{font-size: 28px;color: white;font-weight: 400;}
    
    /* mo_txt  */
    .mo_txt{position: relative;_width: 100%;height: 1010px;_background-color: pink; padding:  140px 24px;}
    .mo_txt02{position: absolute;width: 100%;_height: 1010px;_background-color: rgb(206, 48, 74); padding:  140px 24px;top: -258px;left: 10px;}
    .mbar{width: 25px;height: 3px;background: #31A05F;_position: absolute;_top:140px;_left: 24px;margin-bottom: 10px;}
    .mo_txt>h2,.mo_txt>h3{_position: absolute; left: 0px;top: 0px; padding: 10px 0;}
    /* .mo_txt02>h2,.mo_txt02>h3{position: absolute; left: 100px;top: 100px; padding: 10px 0;} */
    .mo_txt>h2,.mo_txt02>h2{font-size: 20px;font-weight: bold;}
    .mo_txt>h3,.mo_txt02>h3{font-size: 14px;font-weight: lighter}

    .mo_txt>a{color: #31A05F;position: absolute;right: 24px;_bottom: 20px;}
    .mo_txt02>a{color: #31A05F;position: absolute;right: 24px;_bottom: 20px;}
    .mo_txt>img{position: absolute;left: 0px;top: 350px;width: 70%;}


    /* .grey{width: 60%;height: 50%;position: absolute;bottom: -20px;right: -20px;background: #E8E6E6;} */


     /* sec02  */
     .sectionWrap>ul>li:nth-child(2){background-repeat: no-repeat;background-size: cover;position: relative;}
     .sectionWrap>ul>li:nth-child(2)>a{display: flex;justify-content: center;align-items: center;}

.pol{position: absolute;left: 0px;top: 132.5px;z-index: 9999;}


.bac{z-index: 1;}
.mySwiper01>.swiper-wrapper>.swiper-slide:nth-child(2n) img:first-child{width: 50px;}


/* sec03  */
.sectionWrap>ul>li:nth-child(3){background: #fbfbfb;}
.sectxtWrap{width: 100%;height: 100%;padding: 40px;}
.sectxtWrap>h3{font-size: 28px;margin-bottom: 30px;}
.sectxtWrap>h4{font-size: 20px;font-weight: 300;color: #4C4C4C;line-height: 1.5;}


/* sec04  */
.sectionWrap>ul>li:nth-child(4){position: relative;background-color: #F8F8F8;padding: 60px;}
.sech{width: 100%;_height: 100%;position: absolute;top: 40%;

}
.slideTap>a{color: #4C4C4C;font-weight: 200;margin-bottom: 20px;}

.inp{

    width: 80%;
    font-size: 1em;
    height: 40px;
    text-align: right;
    padding: 0 10px;
    border-radius: 3px;
    border: 1px solid #ccc;}
    .icon{color: #9B9B9B;position: absolute;top: 40%;right: 17px;font-size: 20px;cursor: pointer;}
    
    
    .pro{_width: 500px;_height: 200px;_background: #000;position: relative;width: 100%;height: 100%;
    display: flex;justify-content: center;align-items: center;}
    .slide{position: absolute;width: 500px;height: 150px;}
    .slide>li{width: 500px;height: 100px;_background: gray;position: absolute;bottom: 10px;right: 10px;
        display: flex;justify-content: center;align-items: center;}
    .slide>li>form{_background: pink;width: 100%;}
    .slideTap{width: 500px;height: 50px;position: absolute;top: 27px;left: 0;}
    .slideTap>a{font-size: 20px;color: #9B9B9B;}
    input.inp{width: 90%;}

    a.active{color: #333;}

    /* sec05  */

    .sectionWrap>ul>li:nth-child(5){background-image: url(../images/main_creation\ \(2\).png);}
    .textWrap>h3{font-size: 28px;color: #fff;text-shadow: #333 1px 0 10px;;margin-bottom: 30px;}
    .textWrap>h4{font-size: 20px;color: #fff;font-weight: 400;text-shadow: #333 1px 0 10px;}
    .textWrap{padding: 57px;width: 100%;height: 100%;}




    .sectionWrap>ul>li:nth-child(6){background-image: url(../images/main_creation\ \(1\).png);}
    .sectionWrap>ul>li:nth-child(7){background-image: url(../images/main_creation\ \(3\).png);}
    .sectionWrap>ul>li:nth-child(10){background-image: url(../images/main_creation\ \(4\).png);}
    .sectionWrap>ul>li:nth-child(10) .textWrap{text-align: right}

    /* sec8 */
    .sectionWrap>ul>li:nth-child(8),.sectionWrap>ul>li:nth-child(9){flex-direction: column;}
    .sectionWrap>ul>li:nth-child(8){background-color: #FBFBFB;padding: 0;margin: 0;position: relative;}
    .sectionWrap>ul>li:nth-child(8)>a{padding: 0;margin: 0;}
    .sectionWrap>ul>li:nth-child(9)>a>img{display: flex;justify-content: center;align-items: center;padding: 0;margin: 0;}
    .sectionWrap>ul>li:nth-child(8)>a>img,.sectionWrap>ul>li:nth-child(9)>a>img{margin-bottom: 20px;margin-right: 0;margin-left: 0;padding: 0;}
    .sectionWrap>ul>li:nth-child(8)>a>h3,.sectionWrap>ul>li:nth-child(9)>a>h3{font-size: 28px;color: white;font-weight: 400;}
    .sectionWrap>ul>li:nth-child(8)>a>h3{color:#0A61B0}
 
    /* section_pro  */

    .section_pro{
        height: 1210px;_background: #F5F5F5;width: 100%;margin-bottom: 300px;
    }


    .proWrap{width: 1260px;height: 100%;margin: 0 auto;_background: lightgray;padding: 160px 0; display: flex;justify-content:space-between; align-items: center;position: relative;}
    .proWrap>h2{font-size: 50px; margin-bottom: 20px;position: absolute;top: 160px;left: 0;}
    .proWrap>.bar{width: 98px;height: 8px;background: #31A05F;;position: absolute;top: 250px;left: 0;}

    .produ01{padding-top: 160px;
       
    }
    .propic{width: 410px;}
    .protxt{width: 410px;height: 304px;background: #fff;padding: 35px;border: 1px solid #D9D3D3;
    border-top: 0 none;}
    .protxt>h5{font-size: 16px;font-weight: 400;margin-bottom: 12px;color: #6F6F6F;}
    .protxt>h3{font-size: 28px;font-weight: 700;margin-bottom: 16px;}
    .protxt>.sbar{width: 30px;height: 4px;background: #31A05F;margin-bottom: 23px;}
    .protxt>h4{font-size: 18px;font-weight: 300;color: #6F6F6F;margin-bottom: 20px;}
    .protxt>h4>span{display: block;font-weight: 600;color: #333;margin-bottom: 15px;}
    .look>a{color: #31A05F;text-decoration: underline;}

    .mopro{display: none;}
        

   

    /* news  */
    .section_news{_width: 1260px;height: 1000px;_position: relative;}
    .section_news .swiper-slide{_position: absolute; width: 100%;height: 302px}
    .section_news .web_h2{font-size: 50px; margin-bottom: 20px;position: absolute;top: -228px;left: 0;}
    .section_news .bar{width: 98px;height: 8px;background: #31A05F;;position: absolute;top:-130px;left: 0;}
    .swiper.mySwiper02{_width: 1920px;height: 935px;} 
    .newswrap{width: 1260px;height: 100%;margin: 0 auto;_background: lightgray; position: relative;}

    .newtxt{width: 100%;_border: 1px solid #000;position: relative;}
        .tt:nth-child(2n){border: 1px solid #D9D3D3;padding:  45px;border-top: 0 none;}
        .tt:nth-child(2n-1){border: 1px solid #D9D3D3;padding:  45px;border-bottom: 0 none;}

        .newtxt h3{margin-bottom: 100px;}
        .newtxt h5{color: #4C4C4C;position: absolute;left: 0;bottom: 10px;}
        .newsplus{position: absolute;right: 0;bottom: 0px;}

     /* .section_news .swiper {
        width: 50%;
        height: 50%;
        margin-left: auto;
        margin-right: auto;
    } */


    /* monew  */
    .monew{width: 100%;height: 100%;display: none;} 
    .mone01,.mone02,.mone03{
        display: flex;justify-content: space-between;align-items: center;
        border: 1px solid #D9D3D3;width: 100%;
    }

    .monew img{margin-left: 49px;}
    .mnewtxt{position: relative;padding: 30px; width: 420px;_background: lightgray;}
    .mnewtxt h3{margin-bottom: 120px;}
    .mnewtxt h5{position: absolute;bottom: 26px;left: 34px; color: #6F6F6F;}
    .mnewsplus{position: absolute;bottom: 26px;right: 26px;}
 
 /* anibar  */
 .anibar,.anibar001{width: 240px;height: 100px;position: relative;}
 .anibar>.anibarWrap{width: 100%;height: 100%;
    display: flex;justify-content: space-between;align-items: center;position: absolute;top: -2600px;right: -1600px;}
 .anibar>.anibarWrap01{width: 100%;height: 100%;
    display: flex;justify-content: space-between;align-items: center;position: absolute;top: -2600px;right: -1550px;}
 .anibar>.anibarWrap02{width: 100%;height: 100%;
    display: flex;justify-content: space-between;align-items: center;position: absolute;top: -2600px;right: -1500px;}
 .anibar001>.anibarWrap{width: 100%;height: 100%;
    display: flex;justify-content: space-between;align-items: center;position: absolute;top: -1400px;right: -100px;}
 .anibar001>.anibarWrap01{width: 100%;height: 100%;
    display: flex;justify-content: space-between;align-items: center;position: absolute;top: -1400px;right: -50px;}
 .anibar001>.anibarWrap02{width: 100%;height: 100%;
    display: flex;justify-content: space-between;align-items: center;position: absolute;top: -1400px;right: 0px;}
 .anibar01{_width: 2px;_height: 530px;background: 
    #96BFA7;position: absolute;transition: .3s;}
 .anibarWrap div:nth-child(1),.anibarWrap01 div:nth-child(1),.anibarWrap02 div:nth-child(1){
    top: 100px;right: 100px;
    animation: anibar001 2s forwards infinite;
 
 }
 .anibarWrap div:nth-child(2),.anibarWrap01 div:nth-child(2),.anibarWrap02 div:nth-child(2){
    top: 100px;right: 110px;
    animation: anibar001 2s forwards infinite;
    animation-delay: .3s;
 }
 .anibarWrap div:nth-child(3),.anibarWrap01 div:nth-child(3),.anibarWrap02 div:nth-child(3){
    top: 100px;right: 120px;
    animation: anibar001 2s forwards infinite;
    animation-delay: .6s;
 }
 .anibarWrap div:nth-child(4),.anibarWrap01 div:nth-child(4),.anibarWrap02 div:nth-child(4){
    top: 100px;right: 130px;
    animation: anibar001 2s forwards infinite;
    animation-delay: .9s;
 }
 .anibarWrap div:nth-child(5),.anibarWrap01 div:nth-child(5),.anibarWrap02 div:nth-child(5){
    top: 100px;right: 140px;
    animation: anibar001 2s forwards infinite;
    animation-delay: 1.2s;
 }


 @keyframes anibar001{
    from{width: 3px;height: 0;}
    to{width: 3px;height: 360px;}
}
 
/* section_mall  */
.section_mall{width: 100%;height: 1400px;background: #F5F5F5;display: flex;justify-content: center;align-items: center;padding: 210px 0 0 0;}
.sjmallWrap{width: 1260px;height: 830px;margin: 0 auto;position: relative;}
.sjmall{width: 100%;height: 415px;display: flex;justify-content: center;align-items: center;}

.sjmall>.mall{width: 630px;height: 415px;background: #fff;position: relative;}
.mall>img:nth-child(2){position: absolute;top: 102px;right: 48px;}
.mallgo{position: absolute;right: 100px;bottom: 80px;border: 1px solid #D9D9D9;
    padding: 8px 35px;font-size: 16px;width: 130px;height: 42px;}
.mallgo>a{width: 100%;height: 100%;}
.sjmall>img{width: 630px;height: 415px;}

.sjhealth{height: 415px;width: 100%;display: flex;position: relative;}
.health{width: 100%;height: 100%;display: flex;position: relative;background: #fff;}
.health>img{position: absolute;top: 62px;left: 87px;}
.healthgo{position: absolute;top: 319px;left: 417px;border: 1px solid #D9D9D9;
    padding: 8px 35px;font-size: 16px;width: 130px;height: 42px;}

    .sjmallWrap>h2{font-size: 50px; margin-bottom: 20px;position: absolute;top: -228px;left: 0;}
    .sjmallWrap>.bar{width: 98px;height: 8px;background: #31A05F;;position: absolute;top:-130px;left: 0;}
    
    /* msjmallWrap */



    .section_mall{position: relative;}
    .section_mall>.mo_txt02{position: absolute;top: 3740px;;left: 0;_background: green;}
    .msjmallWrap{width: 100%;height: 400px;;margin: 17px;_background: green;
        _display: flex;justify-content: center;align-items: center;position: relative;}
    .msjMall{width: 50%;height: 150px;border: 1px solid #CFCFCF;position: absolute;top: 3395px;left: 0;}
    .msjMall>a{_width: 50px;_height: 18px;color: #fff;
        background: #31A05F;border-radius: 5px;
        font-size: 8px;padding: 3px 10px;
        position: absolute;right: 10px;bottom: 10px;
    }
    .msjMall>img{position: absolute;top: 27px;left: 27px;width: 185px;}
    .msjHealth>img{position: absolute;top: 27px;left: 27px;width: 170px;}
    .msjHealth{width: 50%;height: 150px;background: #F5F5F5;position: absolute;top: 3395px;right: 0;}
    .msjHealth>a{_width: 50px;_height: 18px;color: #fff;
        background: #30BDAC;border-radius: 5px;font-size: 8px;padding: 3px 10px;position: absolute;right: 10px;bottom: 10px;}

    
    /* footer  */
    #footer{background: #fff;width: 100%;height: 100%;border-top: 3px solid #f5f5f5}
    .footerWrap{
        width: 1260px;margin: 0 auto;position: relative;
    }
    .fot_logo>img{position: absolute;right: 0;
        
    }
    .fot_logo{width: 100%;position: relative;height: 100%;top: -15px;right: 0;}
    .foot_top{width: 100%;height: 20px;margin-bottom: 30px;margin-top: 30px;}
    .foot_top li{float: left;padding: 0 ;}
    .foot_top li a{padding:  0 18px;text-align: center;width: 100%;font-weight: 700;}
    .foot_top li:first-child{margin-left: -18px;}
    .foot_top li:first-child:after {
        display: none;}
    .foot_top li:after{content: "";display: block;
        position: absolute; width: 1px;height: 12px;background: #D7D5D5;top: 5px;_left: 118px;}

    .foot_mid{height: 30px;width: 100%;margin-bottom: 10px;}
    .foot_mid li{float: left;padding: 10px 10px;}
    .foot_mid li:nth-child(1){padding: 10px 0px;}
    .copyright{position: absolute;left: 0;}

    /* common  */
    /* .sub_back{background-repeat: no-repeat;
    background: #fff;background-size: cover;
}
.txtWrap>h2{text-align: center;color: white;font-size: 50px;}
.subtxt{ text-align: center; color: #FFF;
    transform: translateY(-55px)!important}
.fs50{font-size: 50px;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.4), 0px -3px 20px rgba(255,255,255,0.4)!important;}
.fs30{font-size: 30px;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.6), 0px -3px 20px rgba(255,255,255,0.4)!important}

.sub_back{  background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    padding: 100px 0!important} */ 
/* subpage  */
.content>img{width: 100%;
}
.content>div>img{width: 100%;
}
.subVisual{
    height: 380px;
    display: flex;justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.subVisual>h2{color:white;text-shadow: 0 0 10px rgba(0, 0, 0, 1);font-size: 40px;}

/* sub01  */
.subVisual.company{background-image: url(../images/sub01.png);}
.subVisual.history{background-image: url(../images/sub01_his.png);}
.subVisual.location{background-image: url(../images/sub01_loc.png);}
.subVisual.financial{background-image: url(../images/sub01_fin.png);}

/* sub02  */
.subVisual.product{background-image: url(../images/sub02.png);}
.subVisual.pharmacy{background-image: url(../images/sub02_pha.png);}
.subVisual.notice{background-image: url(../images/sub02_not.jpg);}
/* sub03  */
.subVisual.introduction{background-image: url(../images/sub03.jpg);}
.subVisual.organization{background-image: url(../images/sub03_org.jpg);}
.subVisual.vision{background-image: url(../images/sub03_vis.jpg);}
.subVisual.achievements{background-image: url(../images/sub03_ach.jpg);}
/* sub04  */
.subVisual.ceomessage{background-image: url(../images/sub04.png);}
.subVisual.code{background-image: url(../images/sub04_cod.png);}
.subVisual.anti_corruption{background-image: url(../images/sub04_cor.png);}
.subVisual.cp{background-image: url(../images/sub04_cp.png);}
/* sub05  */
.subVisual.news{background-image: url(../images/sub05.jpg);}
.subVisual.pr{background-image: url(../images/sub05_pr.jpg);}
.subVisual.sabo{background-image: url(../images/sub05_sab.jpg);}
.subVisual.brandstory{background-image: url(../images/sub05_bra.png);}

.sub .tab{display: flex;width: 1260px;margin: 0 auto;margin-top: -35px;}
.sub .tab li{
    flex: 1 1 20%;height: 70px;
    display: flex;justify-content: center;
    align-items: center;
    background: lightgray;cursor: pointer;font-size: 20px;
    font-weight: 500;
}

.tab>li.active a{background:#31A05F; color: white;}

.sub .content div{display: none;
border: 1px solid #000;
padding: 30px;
border-top: 0px none;}
.sub .content div:nth-child(1){display:block}
.sub>.tab>li>a{display: block;width: 100%;height: 100%;
text-align: center;line-height: 70px;}


/********** css responsive  **********/
@media (max-width: 1399px) {
    .bars{display: none}
    .anibar,.anibar001{display: none;}

}

@media (max-width: 1199px) {

    #header{_overflow: hidden;}
    #section{_overflow: hidden;width: 100%;}
    .bars{display: none}
    .sectionWrap{margin-top: 0px;}
    .sectionWrap>ul{flex-wrap: wrap;}
    .sectionWrap>ul>li{background-repeat: no-repeat;}
    /* .sectionWrap>ul>li:nth-child(5){width: 100%;} */
    /* .sectionWrap>ul>li:nth-child(6){display: none;} */
    .sectionWrap>ul>li:nth-child(5),.sectionWrap>ul>li:nth-child(6),.sectionWrap>ul>li:nth-child(7)
    ,.sectionWrap>ul>li:nth-child(10){flex-basis: 50%;flex-grow: 1;}
    .sectionWrap>ul>li:nth-child(6){width: 50%;height: 315px;
        background-image: url(../images/Frame\ 93.png)}

        .sectionWrap>ul>li:nth-child(10){position: initial;}


    .sectionWrap>ul>li:nth-child(8),.sectionWrap>ul>li:nth-child(9){display: none;}

    .proWrap{justify-content: center;width: 100%;}
    .produ01:nth-child(3){display: none;}
    .swiper.mySwiper02{display: none;}
    /* .section_news{display: none;} */
    .monew{display: block;}
    .monew>.mone01>img,.monew>.mone02>img,.monew>.mone03>img{width: 420px;}
    .monew>.mone01,.monew>.mone02,.monew>.mone03{margin-bottom: 20px;}
    .newswrap{height: initial;}
    .msjmallWrap{display: none;}


    

    
}

@media (max-width: 991px) {
    .txtWrap h2{font-size: 100px;
    }
    .txtWrap h3{font-size: 24px; }
    .bars{display: none}
    .sectionWrap>ul>li:nth-child(4){flex-basis: 100%;}
    .sjmallWrap{display: none;}
    .section_mall{background: #fff;}
    
    
    
   
}

@media (max-width: 767px) {
    /* body{overflow: hidden;} */
    .container{width: 10%;}
    .headerTop{justify-content: flex-end;}
    .headerLeft{display: none;}
    .toggle{display: flex;}
    .navbarClone{
        position: fixed;
        
        display: block;
        background: white;
    
    width: 85%;height: 100%;
    top: 0;left: -100%;}

    .web,.pol{display: none;}
    .mob{display: block;margin: 46px;}


    .overlay{
        background: #000;
        opacity: 0.5;position: fixed;
        width: 100%;height: 100%;top: 0;left: 0;transition: .3s;
    
    
    }
    .txtWrap h2{font-size: 80px;
    }
    .txtWrap h3{font-size: 20px; }
    .bars{display: none}
     /*SECTION*/

     #section{_overflow: hidden;width: 100%; z-index: 1;height:3000px;}
    .sectionWrap>ul>li:nth-child(1),.sectionWrap>ul>li:nth-child(2){flex-basis: 100%;
}
     .sectionWrap>ul>li:nth-child(1){background-color: #fff;height: 910px;width: 100%;align-items: initial;}
     .sectionWrap>ul>li:nth-child(2){position: absolute;top: 1158px;left: 0;width: 100%;}
     .sectionWrap>ul>li:nth-child(3){position: absolute;top: 1682px;left: 0;height: 300px;width: 100%;}
     .sectionWrap>ul>li:nth-child(4){position: absolute;top: -182px;left: 10px;
        background: #31A05F;width: 70%;}
     .slideTap>a{color: #ccc;}
     a.active,.icon{color: #fff;}
     .sectionWrap>ul>li:nth-child(5){position: absolute;top: 2260px;
    background-repeat: no-repeat;width: 93%}
     .sectionWrap>ul>li:nth-child(6){position: absolute;top: 2840px; right: 0;
    background-repeat: no-repeat;width: 93%;}
     .sectionWrap>ul>li:nth-child(7){position: absolute;top: 3420px;
    background-repeat: no-repeat;width: 93%;}
     .sectionWrap>ul>li:nth-child(8){position: absolute;top: 4580px;
    background-repeat: no-repeat;width: 93%;background-image: url(../images/mobile/main_advance.png);display: block;background-size: cover;}
    .sectionWrap>ul>li:nth-child(8) .mbar{background-color: #0A61B0;}
    .sectionWrap>ul>li:nth-child(8) .mo_txt02>a{color: #0A61B0;}
    

     .sectionWrap>ul>li:nth-child(10){position: absolute;top: 4000px;right: 0;
    background-repeat: no-repeat;width: 93%;}

    .sectionWrap>ul>li:nth-child(6) .mo_txt02, .sectionWrap>ul>li:nth-child(10) .mo_txt02{position: absolute; top: -268px;right: 10px;margin-left: -20px;}


    /* section_pro  */

    .section_pro{position: absolute;top: 5147px;background: #fff;}
    .mopro{position: absolute;_top: 5147px;_height: 400px;width: 100%;padding: 0 40px;
    display: flex;justify-content: space-between;align-items: center;}
    .produ01{width: 45%;height:100%;padding-top: 50px;}
    .propic{width: 100%;}
    .propic>img{width: 100%}
    .mopro .protxt{width: 100%;_height: 153px;background: #fff;padding: 20px 0;border: 0 none;}
    .protxt>h5{font-size: 12px;font-weight: 400;margin-bottom: 12px;color: #6F6F6F;}
    .protxt>h3{font-size: 16px;font-weight: 700;margin-bottom: 16px;}
    .protxt>.sbar{width:20px;height: 2px;background: #31A05F;margin-bottom: 23px;}
    .protxt>h4{font-size: 12px;font-weight: 300;color: #6F6F6F;margin-bottom: 20px;}
    .protxt>h4>span{display: block;font-weight: 600;color: #333;margin-bottom: 15px;}
    .look>a{color: #31A05F;text-decoration: underline;font-size: 6px;}


    /* .section_news */
    .section_news .mo_txt02{top: 5700px;}


    .monew{position: relative;}
    .mone01{position: absolute;top: 4897px;}
    .mone02{position: absolute;top: 5149px;}
    .mone03{position: absolute;top: 5400px;}
    .mone01, .mone02, .mone03{border: 0 none}
    .monew img{width: 50%;}
    .mnewtxt{width: 50%}
    /* .section_news h2{top: 749px;left: 10px;font-size: 20px;} */

   
    .section_mall .msjmallWrap{display: block;}
     /* footer  */

     #footer{position: relative;top: 3623px;}
     .fot_logo{display: none;}
     .footerWrap{width: 90%;}
     .foot_mid li{width: 100%;padding: 5px;}
     .copyright{bottom: -200px;}


  

    }

@media (max-width: 575px) {
    .headerTop{padding-left: 100px;}
    .txtWrap h2{font-size: 60px;
    }
    .txtWrap h3{font-size: 16px; }
    .bars{display: none}
    .sectionWrap>ul>li:nth-child(1),.sectionWrap>ul>li:nth-child(2){_width: 50%;}
    .sectionWrap>ul>li:nth-child(3){width: 100%;}
    .sectxtWrap>h3{font-size: 20px;}
    .sectxtWrap>h4{font-size: 14px;}

    .mnewtxt{padding: 8px;}
    .msjHealth>img {left: 14px;}



}