@charset "utf-8";

body{font-family: 'Noto Sans KR', sans-serif;}

.headerWrap{}
.headerWrap .headerTop{width: 1280px;height: 76px;margin: 0 auto;
    /* background-color: pink;  */
    position: relative;}
.headerWrap .headerTop h1{width: 165px;float: left;position: absolute;top: 12px;}
.headerWrap .headerTop h1 img{width: 100%;}
.headerWrap .headerTop .navbar{width: 530px;float: right;}
.headerWrap .headerTop li{float: left;text-align: center;
    line-height: 76px;width: calc( 530px / 3 );}
.headerWrap .headerTop li a{font-weight: 700;font-size: 20px;display: block;}

/* visual  */
.visualWrap{


}
.visualWrap .visual01{width: 1280px;margin: 0 auto;position: relative;}
.visualWrap .visual01 h2{font-size: 80px;color: #fff;
    position: absolute;top: -777px;left: 0;}

.visualWrap .visual01 p{font-size: 24px;color: #fff;position: absolute;top: -643px;left: 0;}

.sectionWrap{width: 1280px;margin: 0 auto;}
.sectionWrap .section01{padding: 160px 0 0 0;margin-bottom: 100px;}
.sectionWrap .section01 h3{font-size: 44px;color: 1e1e1e;margin-left: 20px;}
.sectionWrap .section01 h3:after{content: "";display: block;
    border: 2px solid #FFD44A;width: 75px;}

.sectionWrap .section01 p{font-size: 18px;
    float: right;
    display: block;margin-right: 20px;
    }

.section02{margin-bottom: 200px;}
.section02 .sec_1st{float: left;margin: 21px}
.section02 .sec_1st img{margin-bottom: 21px;}
.section02 .sec_1st h4{font-size: 21px;margin-bottom: 15px;}
.section02 .sec_1st p{font-size: 15px;letter-spacing: -0.6px;}

.box{width: 1114px;height: 338px;background-color: #ffd44a;position: relative;}
.box h5{font-size: 28px;position: absolute;top: 100px;left: 100px;}
.box p{font-size: 15px;position: absolute;top: 198px;left: 100px;}
.box img{position: absolute; right: -100px;top: 104px;}