@charset "utf-8";

body,html{padding: 20px;
   
    _background: yellow
;

    font-family: 'Noto Sans KR', sans-serif;
}
h2{position: absolute;
top: 0px; color: white;font-weight: 700;margin-bottom: 30px;
margin-top: 10%;}
.alldo {
    width: 90%;
    height: 100%;
    
    
    margin: 0 auto;
    padding: 20% 10% 10% 10%;
    /* border: 1px solid #000; */
    background: #1C3879;
    _display: flex;
    justify-content: space-between;
    _align-items: center;

    border-radius: 10px;
    position: relative;
}

.mytodo {
    _width: 90%;
    height: 40%;
    position: relative;
    
}

.mytodo .btn1 {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 40%;
    padding: 4px;
    border: 0 none;
    /* background: #fff; */
    border-radius: 5px;
    background: #607EAA;;

    color:white;
    letter-spacing: 1px;
    font-weight: 500;
    cursor: pointer;
}

.mytodo .btn2 {
    position: absolute;
    top: 50px;
    right: 36px;
    width: 40%;
    padding: 4px;
    border: 0 none;
    color: rgb(233, 78, 78);
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    

}

.mytodo .inp {
    height: 40px;
    width: 80%;
    border-radius: 5px;
    border: 0px none;
    margin-bottom: 100px;
}

.listView {
    _margin-bottom: 50px;

    _width: 80%;
    _height: 500px;
    padding: 10px;
    _display: flex;
    justify-content: center;
    align-items: center;
    background:#F9F5EB;
    _position: absolute;
    bottom: 10px;
    border-radius: 5px;
}

.listView li {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;


}

.item{width: 300px;}
.item.active {padding: 5px;
    background: rgba(243, 69, 79, 0.45);
    border-radius: 3px;
    font-weight: 600;
    width: 70%;
    height: 5px;
    display: flex;_justify-content: center;align-items: center;
}

/* .iconWrap{width: 100px;height: 100px;} */
.iconWrap i {
    width: 30px;
    height: 30px;
    color: #2B4865;
    cursor: pointer;
    position: relative;
    
}
.iconWrap{}