@charset "utf-8";

body{font-family: 'Nanum Gothic', sans-serif;}

/* header  */
.headerTopWrap{border-bottom:1px solid #dcdcdc;margin-bottom: ;}
.headerTop{width: 980px;margin: 0 auto;}

.topMenu ul{float: right;}
.topMenu li{float: left;position: relative;}
.topMenu li:after{
    content: "";display: block;width: 1px;height: 11px;background: #dcdcdc;
    position: absolute;top: 7px;right: 0;
}
.topMenu li:last-child:after{display:none;}
.topMenu li a{display: block;padding: 7px 10px;font-size: 12px;line-height: 12px;}

#headerWrap h1{display: inline-block;margin: 0 auto;background-color: skyblue;width: 151px;
}
#headerWrap h1 a{color: #333;}

#headerWrap .toggle{
    width: 48px;height: 48px;
    border:1px solid #cdcdcd;
    position: absolute;
    left: calc ( 50% + 980px / 2 - 48px );
    top: 38px;
    cursor: pointer;

}

.toggle div{
    width: 21px;height: 2px;background-color: #666;
    position: absolute;left: calc ( 50% - 10px );
    top:calc( 50% - 1px )
}
.toggle div:first-child{ top:calc( 50% - 9px )}
.toggle div:last-child{top:calc( 50% + 7px )}

.headerWrap02{background-color: #1D5DA4;height: 46px;}
.headersub{width: 980px;margin: 0 auto;}
.headerWrap02 ul{float: left;}
.headerWrap02 ul>li{float: left;width: calc( 980px / 6); display: block;position: relative;line-height: 46px;}
.headerWrap02 ul a{color: white; text-align: center;font-size: 15px;float: left;}
.headersub li:after{content: "";display: block; width: 1px;height: 44px; background: #336DAC;
position: absolute;top: 1.5px;right: 30px;}