@charset "utf-8";

body{font-family: 'Nanum Gothic', sans-serif;}

/* header  */
.headerTopWrap{border-bottom:1px solid #dcdcdc;margin-bottom: 16px;}
.headerTop{width: 980px;margin: 0 auto;}

.topMenu ul{float: right;}
.topMenu li{float: left;position: relative;}
.topMenu li:after{
    content: "";display: block;width: 1px;height: 11px;background: #dcdcdc;
    position: absolute;top: 7px;right: 0;
}
.topMenu li:last-child:after{display:none;}
.topMenu li a{display: block;padding: 7px 10px;font-size: 12px;line-height: 12px;}

#headerWrap h1{;margin: 0 auto;width: 151px;margin-bottom:16px
}
#headerWrap h1 a{color: #333;}

#headerWrap .toggle{
    width: 48px;height: 48px;
    border:1px solid #cdcdcd;
    position: absolute;
    left: calc ( 50% + ( 980px / 2 ) - 48px );
    top: 38px;
    cursor: pointer;

}

.toggle div{
    width: 21px;height: 2px;background-color: #666;
    position: absolute;left: calc ( 50% - 10px );
    top:calc( 50% - 1px )
}
.toggle div:first-child{ top:calc( 50% - 9px )}
.toggle div:last-child{top:calc( 50% + 7px )}

.headerWrap02{background-color: #1D5DA4;height: 46px;}
.headersub{width: 980px;margin: 0 auto;}

.headersub li{float: left;width: calc( 100% / 6); 
    border-left: 1px solid #336DAC;

}
.headerWrap02 li a{color: white; text-align: center;font-size: 15px;display: block;line-height: 46px;}
.headersub li:last-child{border-right: 1px solid #336DAC;}

.headerWrap02 .headersub li a:hover{background-color:white;color: #333;}

.visualWrap{
    /* background-image: url(../images/main_bg01.jpg);
    /* background-repeat: no-repeat;
    background-position: center;
    background-color: #213C6B; */
    background:#213C6B url(../images/main_bg01.jpg) no-repeat center

}
.visualWrap .visual{width: 980px;margin: 0 auto;height: 400px;
    position: relative;overflow: hidden;}
.visualWrap .visual .txt{position: absolute;top: 100px;color:#E2E2E2;font-size: 20px;}   
.visualWrap .visual h3{font-size: 76.6px;line-height: 80px; margin-bottom: 10px;
    letter-spacing: 0.34em;}
.visualWrap .visual img{position: absolute; right: 0;}

.box{height: 300px;background-color: red;}

/* section  */
.secWrap{background-color: #EEEEEE;}
.secWrap .section{width: 980px;margin: 0 auto;background-color:red;}
.secWrap .section .sec_1{width: 196px;height: 196px;background-color: #7C99B9;}

.secWrap .section .sec_1 li{float: left;}
.secWrap .section .sec_1 li img{margin: 0 auto;}
.secWrap .section .sec_1 li h4{}
.secWrap .section .sec_1 li p{}